{% extends "Base.html" %}

{% block title %}
訂購完成
{% endblock %}

{% block Content %}
	<div class="page-title sp" style="background-image: url(/static/images/news-bg.jpg)">
        <div class="container text-center">
            <h3><strong><font color="#303030" size="6" style="background: #F1DEFF">訂購完成</font></strong></h3>
            <h7 style="background: #ffffff;"><font color="#000000" size="4">Thanks For Your Buying</font></h7>
        </div>
    </div>
	
<div style="padding: 20px;">
	<div id="maindiv">
		<p class="title">訂購完成</p>
		<p class="subject">感謝你的訂購！我們會立即處理你的訂單</p>
		<p class="desc">親愛的<strong>{{name}}</strong>(先生/小姐)，已經完成訂購程序，請耐心等待！<br />

		<a href="/cartordercheck/?orderid={{orderid}}&customemail={{email}}"	>詳細內容請點選</a></p>

	</div>
</div>
	
{% endblock %}