{% extends "Base.html" %}

{% block title %}
餐點介紹
{% endblock %}

{% block Content %}

    <div class="page-title sp" style="background-image: url(/static/images/news-bg.jpg)">
        <div class="container text-center">
            <h3><strong><font color="#303030" size="6" style="background: #F1DEFF">關於我們</font></strong></h3>
            <h7 style="background: #ffffff;"><font color="#000000" size="4">About Us</font></h7>
        </div>
    </div>

    <div style="padding: 20px;">

		<div class="gallery-area spb">
		    <div class="container">
		        <div class="row">
		            
		                
		                    <div class="col-sm-6 single-gallery">
		                        <div class="inner">
		                            <img src="/static/images/menu01.jpg" alt="">
		                        </div>
		                    </div>
		                    <div class="col-sm-6 single-gallery">
		                        <div class="inner">
		                            <img src="/static/images/menu02.jpg" alt="">
		                        </div>
		                    </div>
		                    <div class="col-sm-6 single-gallery">
		                        <div class="inner">
		                            <img src="/static/images/menu03.jpg" alt="">
		                        </div>
		                    </div>
		                    <div class="col-sm-6 single-gallery">
		                        <div class="inner">
		                            <img src="/static/images/menu04.jpg" alt="">
		                        </div>
		                    </div>
		                    <div class="col-sm-6 single-gallery">
		                        <div class="inner">
		                            <img src="/static/images/menu05.jpg" alt="">
		                        </div>
		                    </div>
		                    <div class="col-sm-6 single-gallery">
		                        <div class="inner">
		                            <img src="/static/images/menu06.jpg" alt="">
		                        </div>
		                    </div>		                    
		               
		            
		        </div>
		    </div>
		</div> 
	</div> 

{% endblock %}